<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Connect</servlet-name>
  	<display-name>Connect</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Connect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Connect1</servlet-name>
  	<display-name>Connect1</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Connect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Program1</servlet-name>
  	<display-name>Program1</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Program1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Validation</servlet-name>
  	<display-name>Validation</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Validation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<display-name>Add</display-name>
  	<description></description>
  	<servlet-class>com.wiley.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPro</servlet-name>
  	<display-name>AddPro</display-name>
  	<description></description>
  	<servlet-class>com.wiley.AddPro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemovePro</servlet-name>
  	<display-name>RemovePro</display-name>
  	<description></description>
  	<servlet-class>com.wiley.RemovePro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forgotpass</servlet-name>
  	<display-name>forgotpass</display-name>
  	<description></description>
  	<servlet-class>com.wiley.forgotpass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePass</servlet-name>
  	<display-name>ChangePass</display-name>
  	<description></description>
  	<servlet-class>com.wiley.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Connect</servlet-name>
  	<url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Connect1</servlet-name>
  	<url-pattern>/Connect1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Program1</servlet-name>
  	<url-pattern>/Program1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Validation</servlet-name>
  	<url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPro</servlet-name>
  	<url-pattern>/AddPro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemovePro</servlet-name>
  	<url-pattern>/RemovePro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgotpass</servlet-name>
  	<url-pattern>/forgotpass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePass</servlet-name>
  	<url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
</web-app>
